:root {
  --background-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  max-width: 1260px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: var(--background-color);
  margin: 0 auto;
}

main {
  width: 100%;
}

h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 2rem 0;
}

.input-container {
  background-color: rgba(0, 0, 0, 0.596);
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.input-container input {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  color: rgb(11, 80, 239);
}

.input-container img {
  cursor: pointer;
}

.showOnlyFavorites {
  text-align: center;
  margin-bottom: 2rem;
  color: #FFF;
}

.movie {
  color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: #0b0000;
  border-radius: 0.5rem; 
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 1024px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}

.movie .movie-image {
  width: 92px;
  height: 92px;
  margin-right: 1rem;
}

.movie .movie-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.movie-informations {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.movie-informations .movie-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.movie-informations .movie-text .rating-favorites {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.movie-informations .rating, .movie-informations .favorite {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.movie-informations .rating img {
  width: 16px;
}

.movie-informations .favorite img {
  cursor: pointer;
  transition: all .3s;
  width: 1.2rem;
}

.movie-informations .favorite img:hover {
  transform: scale(1.1);
}

.movie-description {
  max-width: 50%;
  color: #ACACAC;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 1.5rem;
}
